# =========================================
# Laravel base ignore
# =========================================
/vendor
/node_modules
/.env
.env.*
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json
composer.lock

# =========================================
# Laravel cache & build directories
# =========================================
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/bootstrap/cache/*
/public/build
/public/hot

# =========================================
# IDE / system files
# =========================================
.DS_Store
Thumbs.db
.phpactor.json
.phpunit.result.cache
/.phpunit.cache
/.fleet
/.idea
/.vscode
/.zed

# =========================================
# App-specific ignores
# =========================================

/storage/pail

# =========================================
# Optional backups / production files
# =========================================
.env.backup
.env.production
